html {
  font-size: 100%;
}

img {
  max-width: 100%;
}

body {
  background-color: #FFFFFF;
  color: #24292E;
  font-family: "Arial", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Meiryo", sans-serif;
}

.container {
  max-width: 1200px;
  padding-right: 5%;
  padding-left: 5%;
  margin-right: auto;
  margin-left: auto;
}

h2 {
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 1.125;
}

p {
  font-size: 0.875rem;
  line-height: 1.5;
}

a:hover {
  opacity: 0.5;
}

header {
  margin-bottom: 80px;
}
header .mainvisual {
  width: 100vw;
  height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
  position: relative;
}
header a {
  display: block;
  width: 120px;
  height: 40px;
  position: absolute;
  top: 30px;
  right: 30px;
}
header a .logo {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.article {
  margin-bottom: 80px;
  display: block;
}
.article .article_text {
  text-align: center;
}
.article .article_text h2 {
  margin-bottom: 20px;
}
.article .article_text p {
  max-width: 560px;
  margin: 0 auto 40px auto;
}
.article .article_img {
  display: flex;
  -moz-column-gap: 21px;
       column-gap: 21px;
}
.article .article_img .archive {
  width: 50%;
  max-height: 500px;
  position: relative;
}
.article .article_img .archive img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
}
.article .article_img .archive .archive_text {
  background-color: rgba(112, 112, 112, 0.5019607843);
  text-align: center;
  width: 297px;
  padding: 15px 33px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
}
.article .article_img .archive .archive_text h3 {
  font-size: 1.25rem;
  line-height: 1.2;
  color: #FFFFFF;
  font-weight: bold;
  padding-bottom: 2px;
}
.article .article_img .archive .archive_text p {
  color: #FFFFFF;
}
.article .article_img .new {
  width: 50%;
  max-height: 500px;
  position: relative;
}
.article .article_img .new img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
}
.article .article_img .new .new_text {
  background-color: rgba(112, 112, 112, 0.5019607843);
  text-align: center;
  width: 297px;
  padding: 15px 33px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
}
.article .article_img .new .new_text h3 {
  font-size: 1.25rem;
  line-height: 1.2;
  color: #FFFFFF;
  font-weight: bold;
  padding-bottom: 2px;
}
.article .article_img .new .new_text p {
  color: #FFFFFF;
}

@media screen and (max-width: 896px) {
  .article .article_img {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
  }
  .article .article_img .archive {
    width: 100%;
  }
  .article .article_img .archive img {
    height: auto;
  }
  .article .article_img .new {
    width: 100%;
  }
  .article .article_img .new img {
    height: auto;
  }
}
#style {
<<<<<<< HEAD
  background-image: url(testweb_saki_review/fashion.jpg);
=======
  background-image: url(fashion.jpg);
>>>>>>> review/1019
  background-position: center;
  width: 100vw;
  height: 520px;
  padding-top: 60px;
  margin-bottom: 80px;
}
#style .style {
  text-align: center;
}
#style .style .style_text h2 {
  margin-bottom: 20px;
}
#style .style .style_text p {
  max-width: 560px;
  margin: 0 auto 30px auto;
}
#style .style .style_text a {
  display: inline-block;
  font-size: 12px;
  padding: 13px 35px;
  border: 1px solid #24292E;
}

@media screen and (max-width: 896px) {
  #style {
    margin-bottom: 50px;
  }
}
#dtl {
  width: 100%;
  background-color: #F5F5F5;
  padding-top: 60px;
  padding-bottom: 60px;
}
#dtl .catalog {
  display: flex;
  -moz-column-gap: 35px;
       column-gap: 35px;
  margin-bottom: 120px;
}
#dtl .catalog .catalog_img {
  width: 50%;
}
#dtl .catalog .catalog_text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
}
#dtl .catalog .catalog_text h2 {
  text-align: center;
  margin-bottom: 40px;
}
#dtl .catalog .catalog_text p:not(:last-child) {
  margin-bottom: 30px;
}
#dtl .antique {
  display: flex;
  -moz-column-gap: 35px;
       column-gap: 35px;
}
#dtl .antique .antique_img {
  width: 50%;
}
#dtl .antique .antique_text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  text-align: center;
}
#dtl .antique .antique_text h2 {
  margin-bottom: 40px;
}
#dtl .antique .antique_text p {
  text-align: left;
}
#dtl .antique .antique_text p:not(:last-of-type) {
  margin-bottom: 30px;
}
#dtl .antique .antique_text p:last-of-type {
  margin-bottom: 60px;
}
#dtl .antique .antique_text a {
  display: inline-block;
  font-size: 12px;
  padding: 13px 35px;
  border: 1px solid #24292E;
}

@media screen and (max-width: 896px) {
  #dtl {
    width: 100%;
    background-color: #F5F5F5;
    padding-top: 30px;
    padding-bottom: 30px;
  }
  #dtl .catalog {
    flex-direction: column;
    margin-bottom: 60px;
  }
  #dtl .catalog .catalog_img {
    width: 100%;
    margin-bottom: 60px;
  }
  #dtl .catalog .catalog_text {
    width: 100%;
  }
  #dtl .antique {
    display: flex;
    flex-direction: column;
    margin-bottom: 30.5px;
  }
  #dtl .antique .antique_img {
    width: 100%;
  }
  #dtl .antique .antique_text {
    width: 100%;
  }
  #dtl .antique .antique_text a {
    margin-bottom: 60px;
  }
}
footer #footer {
  background-color: #333333;
}
footer .footer_menu {
  color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 100px;
  padding-bottom: 100px;
}
footer .footer_menu .logo, footer .footer_menu .menu1, footer .footer_menu .menu2 {
  width: 33.3333333333%;
}
footer .footer_menu .logo h3, footer .footer_menu .menu1 h3, footer .footer_menu .menu2 h3 {
  font-size: 1rem;
  line-height: 1.313;
  font-weight: bold;
  margin-bottom: 10px;
}
footer .footer_menu .logo p, footer .footer_menu .menu1 p, footer .footer_menu .menu2 p {
  font-size: 0.75rem;
  line-height: 2;
}
footer .copy {
  padding-top: 30px;
  padding-bottom: 25px;
  text-align: center;
}
footer .copy p {
  font-size: 12px;
  line-height: 1.5;
}

@media screen and (max-width: 896px) {
  #footer .footer_menu {
    flex-direction: column;
    padding-top: 30px;
    padding-bottom: 60px;
  }
  #footer .footer_menu .logo, #footer .footer_menu .menu1, #footer .footer_menu .menu2 {
    width: 100%;
  }
  #footer .footer_menu .logo {
    text-align: center;
    margin-bottom: 30px;
  }
  #footer .footer_menu .menu1 {
    margin-bottom: 30px;
  }
<<<<<<< HEAD
}/*# sourceMappingURL=style.css.map */
=======
}/*# sourceMappingURL=style.css.map */
>>>>>>> review/1019
